<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_buff_2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,910},{124,116}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,28},{124,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1028},{118,116}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,27},{118,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,782},{114,114}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,28},{114,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1034},{110,112}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,29},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1032},{112,112}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,29},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{110,112}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,29},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,508},{112,112}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,30},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,640},{116,112}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,30},{116,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,782},{126,112}}</string>
                <key>offset</key>
                <string>{6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,30},{126,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,136},{132,110}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,32},{132,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,410},{134,110}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,32},{134,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{136,108}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{136,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{136,108}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,35},{136,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{134,118}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{134,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,278},{134,130}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,36},{134,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,522},{132,130}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{132,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,248},{130,128}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,40},{130,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,654},{130,126}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,42},{130,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,516},{126,122}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{126,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,380},{126,120}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,47},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,908},{124,118}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{124,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,910},{120,114}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,52},{120,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{124,112}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,54},{124,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{126,112}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,54},{126,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,786},{130,120}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,45},{130,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,388},{132,126}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,39},{132,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{132,130}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{132,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,134}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,30},{130,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{130,136}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,27},{130,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,136}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,26},{130,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{130,134}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,26},{130,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,254},{130,132}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,26},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{128,132}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,25},{128,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>battle_buff_2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,654},{128,126}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,26},{128,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_buff_2E.png</string>
            <key>size</key>
            <string>{512,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08a6cc7ded8c1ee0f4fb284a753792eb$</string>
            <key>textureFileName</key>
            <string>battle_buff_2E.png</string>
        </dict>
    </dict>
</plist>
