<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1,334},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{70,71}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{168,326},{70,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{169,169},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1,250},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{84,250},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,71}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{168,253},{82,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{84,333},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-7}</string>
                <key>spriteSize</key>
                <string>{6,11}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1,379},{6,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1,84},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{85,84},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{169,85},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1,167},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{85,167},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bbomb1.png</string>
            <key>size</key>
            <string>{251,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52e6e5954bbab46e99fc2b253cde4221:505b9a824fab553e6244b4a39d3d4038:85fe2f972ce756a5afefa34ac217b3f8$</string>
            <key>textureFileName</key>
            <string>bbomb1.png</string>
        </dict>
    </dict>
</plist>
