<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,15},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,29},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,43},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,57},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,71},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{359,12}</string>
                <key>spriteSourceSize</key>
                <string>{363,12}</string>
                <key>textureRect</key>
                <string>{{1,85},{359,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bossHealthBar.png</string>
            <key>size</key>
            <string>{361,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77231a0454ea6880dfa743414089702d:1a82318edb0e440dcc98275ce5234d6e:9283241a1572982664c6fe8ff2404661$</string>
            <key>textureFileName</key>
            <string>bossHealthBar.png</string>
        </dict>
    </dict>
</plist>
