<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>冲锋_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{250,473}}</string>
                <key>offset</key>
                <string>{-12,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,266},{250,473}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,475},{254,471}}</string>
                <key>offset</key>
                <string>{-10,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,268},{254,471}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,729},{256,467}}</string>
                <key>offset</key>
                <string>{-10,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,272},{256,467}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,471},{256,467}}</string>
                <key>offset</key>
                <string>{-10,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,272},{256,467}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{258,469}}</string>
                <key>offset</key>
                <string>{-9,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,270},{258,469}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,475},{258,469}}</string>
                <key>offset</key>
                <string>{-8,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,270},{258,469}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{258,473}}</string>
                <key>offset</key>
                <string>{-8,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,266},{258,473}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,473}}</string>
                <key>offset</key>
                <string>{-6,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,266},{260,473}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{262,471}}</string>
                <key>offset</key>
                <string>{-5,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,268},{262,471}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{260,467}}</string>
                <key>offset</key>
                <string>{-7,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,272},{260,467}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{256,465}}</string>
                <key>offset</key>
                <string>{-9,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,270},{256,465}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,473},{256,469}}</string>
                <key>offset</key>
                <string>{-10,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,270},{256,469}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
            <key>冲锋_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,477},{254,473}}</string>
                <key>offset</key>
                <string>{-11,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,266},{254,473}}</string>
                <key>sourceSize</key>
                <string>{418,739}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CF.png</string>
            <key>size</key>
            <string>{1763,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fd436dee04527dd61ee90cc8d27d421$</string>
            <key>textureFileName</key>
            <string>CF.png</string>
        </dict>
    </dict>
</plist>
